<div class="container py-5">
  <h3>New Company</h3>
  <%= link_to companies_path, class: "btn btn-primary float-right" do %>
    <i class="fa fa-list" aria-hidden="true"></i> List of Company
  <% end %><br><br>
  <%= render "form" %>
</div>
